    <style>
        p {
          color: inherit;
          text-indent: 30px;
          text-align:justify-all;
        }
</style>
<MudDialog>
    <DialogContent>
        <p>
            بر اساس ماده واحده قانون اصلاح قانون تعزیرات حکومتی مصوب 1373 مجمع تشخیص مصلحت نظام وماده 2 تصویب نامه هیات وزیران در خصوص تعیین سازمان و تشکیلات تعزیرات حکومتی مصوب 1373 و همچنین مقررات قانون نظام صنفی مصوب 1382 مجلس شورای اسلامی با اصلاحات بعدی، این سازمان صرفا مرجع رسیدگی است.
        </p>
        <p>
            لذا سازمان تعزیرات حکومتی در راستای تسهیل دسترسی عموم شهروندان و جلوگیری از اطاله دادرسی، امکان ثبت شکایت غیر حضوری از واحدهای اقتصادی و صنفی،پیرامون تخلفات، گرانفروشی، کم فروشی، عدم درج قیمت، تقلب در کسب و کار و عدم صدور صورتحساب(فاکتور) ،با ارائه مستندات مربوطه در سامانه 135 فراهم نموده است.
        </p>
        <p>
            شهروندان گرامی در صورت ارائه مستندات کافی، میتوانند شکایت خود را (پنج مورد فوق الذکر) از طریق سامانه 135 ثبت نمایند و شعب سازمان در اجرای تبصره فوق الذکر بدون لزوم احضار،حضور یا استماع اظهارات طرفین، تصمیم مقتضی و قانونی صادر و نتیجه را نیز از طریق سامانه 135 و پیامک ابلاغ می نمایند.
        </p>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit">قبول</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
}