@page "/GranovmentByNo"

@using Anu.PunishmentOrg.ServiceModel.Gravamen;
@using Anu.PunishmentOrg.Client.Infrastructure.Granovment

@inject AppConfiguration _appConfiguration

<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Medium"  @OnClick="SaveGranovment">ذخیره</MudButton>
<MudButton Color="Color.Info" Size="Size.Medium" OnClick="SaveGranovment">ذخیره1</MudButton>
<button @onclick="SaveGranovment" >Test</button>

@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        var r =  base.OnAfterRenderAsync(firstRender);
        SaveGranovment();
        return r;
    }
    void SaveGranovment()
    {
        _navigationManager.NavigateTo($"/GranovmentSummary/{2834826742}");
        // _navigationManager.NavigateTo($"/GranovmentList/{2740981422}");
    }

}