<h3>SpinerComponent</h3>
@page "/Waiting"
<div class="container">
  <div class="child"></div>
     <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
</div>
@code {

}
