@page "/FrmNoticeMain"
@page "/FrmNoticeMain/{NationalCode:bool}"

@using Anu.PunishmentOrg.Client.Infrastructure.Contracts.Notice
@using Anu.PunishmentOrg.ServiceModel.Notice

@inject INoticeService _noticeService

@inject AppConfiguration _appConfiguration;


@if(Elements?.Count()>0)
{
        <MudChip>@Elements.Count()</MudChip>
}
else
{
   <MudChip>0</MudChip>
 }


@if (Elements is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    
  <MudDataGrid Items="@Elements.Take(20)"  Hover="true" Dense="true" Striped="true" Bordered="true" SortMode="SortMode.Multiple" Filterable="true"
    >
    <Columns>
        <Column T="PNoticeContract" Field="CreateDateTime" Title="زمان ثبت" />
        <Column T="PNoticeContract" Field="No" Title="شماره " />
        <Column T="PNoticeContract" Field="NoticeDate"   Title="تاريخ ابلاغ " />
        <Column T="PNoticeContract" Field="NoticePersonName"   Title="نام  ابلاغ شونده " />
        <Column T="PNoticeContract" Field="NoticePersonFamily" Title="نام خانوادگي ابلاغ شوند" />
      
    </Columns>
</MudDataGrid>

 }



